.about--container {
  display: none;
}

.philosophy--container {
  display: none;
}

@media only screen and (min-width : 1224px) {
  .philosophy--container {
    display: block;
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('../img/philosophy-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .about--container {
    display: block;
    height: 300px;
  }
}

.about--callout {
  margin-top: 70px;
  text-align: center;
  font-size: @hugeType;
  font-family: @sansSerif;
  .fadein(2s);
}

.philosophy--bodycopy {
  color: @white;
  width: 500px;
  margin-left: 5%;
  padding-top: 13%;
  font-size: @mediumType;
  font-family: @sansSerif;
  -webkit-font-smoothing: antialiased;
}