// Blog Page
// -------------------------

// Handles the ul of different posts on the page
.posts {
  p {
    line-height: @lineHeightSmall;
  }
  span {
    font-size: @smallType;
    color: @grayDark;
  }
    svg {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }

}

h2 {
  a {
    color: lighten(@grayDark, 9%);
    font-weight: 700;
  }
}


// Styling for each individual blog entry
.post {
  img {
    margin-top: 5px;
  }
  h2 {
    float: left;
  }
}