<div class="dir--logo-parallax"></div>

<div class="about--container container">
  <div class="row col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
  <div class="about--callout">
    MissionFocus is a development shop that takes domain design and development as seriously as system design.
  </div>
</div>
</div>

<div class="philosophy--container" data-speed="5" data-type="background">
  <div class="philosophy--bodycopy">
     We work in the Intelligence arena with DoD and IC customers alongside the Institute for Modern Intelligence. Our core domain is the storage, processing, and use of data at immense scale and diversity. We are experts in cloud computing and storage technology and are the creators of the Sign Representation Framework: the under-pinning of a game-changing approach to data unification. The work we do is meaningful, intentional, and backed by integrity. We believe the code we are writing will <em>change the world</em>.
  </div>
</div>