<div class="col-md-10 col-md-offset-1" style="padding: 0;">


<p class="jumbotron">Mission Focus orchestrates technology and operations at a large scale to develop mission focused solutions for today’s warfighter. Mission Focus guides the customer toward a view of the problem domain as an Ultra-large Scale (ULS) system. Mission Focus’ continued research on “Big Data” solutions makes them experts within the Intelligence Community. Our purpose is to fulfill our customer’s missions.</p>

<div class="modules row-fluid ">
    <div class="col-lg-4">
        <a href="semapp-technical-fact-sheet-mf.pdf"><figure class="cap-bot">
            <img src="/img/GDAC-module.jpg" />
            <figcaption>Download and read the SemApp PDF</figcaption>
        </figure></a>
    </div>
    <div class="col-lg-4">
        <a href="http://www.imintel.org/"><figure class="cap-bot">
            <img src="/img/imintel-module.jpg" />
            <figcaption>Learn more about IMIntel</figcaption>
        </figure></a>
    </div>
    <div class="col-lg-4">
        <a href="office.html"><figure class="cap-bot">
            <img src="/img/office-module.jpg" />
            <figcaption>Get to Mission Focus</figcaption>
        </figure></a>
    </div>
</div>

<ul class="rslides row-fluid" id="slider1">
    <a href="/hackathon/sponsor/2013/04/01/reinvent-transit-hackathon.html"><li><img src="img/reinvent.jpg" alt=""></li></a>
    <li><img src="img/big-data.jpg" alt=""></li>
    <li><img src="img/nab.jpg" alt=""></li>
</ul>

</div>