<div class="col-md-10 col-md-offset-1" style="padding: 0;">


<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89b7b1aa810845eb%3A0x2352bd9112782748!2sMission+Focus+100+Daingerfield+Rd%2C+Alexandria%2C+VA!5e0!3m2!1sen!2sus!4v1385560277872" width="979" height="450" frameborder="0" style="border:0"></iframe>

<div class="col-md-6 padding">
    <p>
        We are located in the National Community Pharmacists Association building on the fourth floor. Meter parking is available on the street in front of the building along Daingerfield Road, or in the public garage located across from the building entrance at <a href="https://maps.google.com/maps?q=1700+Diagonal+Road,+Alexandria,+VA&amp;hl=en&amp;ll=38.805788,-77.059371&amp;spn=0.001252,0.002079&amp;sll=38.805892,-77.059093&amp;sspn=0.001252,0.002079&amp;oq=1700+Dia&amp;hnear=1700+Diagonal+Rd,+Alexandria,+Virginia+22314&amp;t=m&amp;z=19">1700 Diagonal Road, Alexandria.</a>
    </p>
</div>
<div class="col-md-6 padding">
    <h2>
        <a name="office">Address:</a>
    </h2>
    <p>
        100 Daingerfield Road, Suite 400,<br>
        Alexandria, VA 22314
    </p>
    <h2>
        <a name="office">Phone:</a>
    </h2>
    <p>
        Phone: 703.291.6720<br>
        Fax: 703.763.7261
    </p>
</div>

</div>