---
layout: default
---

<div class="col-md-2" style="padding: 0;">

  <!-- Commented out until I can make this more attractive -->
  <!-- <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
    <g>
     <clipPath id="circle">
      <circle cx="150" cy="150" r="149.557"/>
     </clipPath>
    </g> 
    
    <image clip-path="url(#circle)" height="100%" width="100%" xlink:href="/img/team/{{ page.img }}" />
  </svg> -->

</div>

<div class="col-md-9 col-md-offset-1" style="padding: 0;">
  <h1>{{ page.title }}</h1>
  <h3>{{ page.author }}</h3>
  <h5>{{ page.date | date: "%B %d, %Y" }}</h5>
    {{ content }}
</div>
